body {
  background-color: rgb(153, 186, 199);
}

header {
  min-height: 300px;
  width: 500px;
  background-color: rgb(175, 210, 228);
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 80px;
  box-shadow: 5px 5px 5px 5px gray;
}

#painel {
  background-color: rgba(186, 220, 240, 0);
  min-height: 150px;
  min-width: 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  white-space: pre-wrap;

  text-align: right;
  padding: 30px;
  font-size: 4em;
  color: rgb(0, 8, 12);
  font-weight: bold;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  word-wrap: break-word;
}

#corpo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  min-width: 125px;
  min-height: 110px;
  border-color: rgba(133, 182, 211, 0.473);
  background-color: rgba(133, 182, 211, 0.473);
  font-family: "Inter";
  font-weight: bold;
  font-size: large;
}

#apagar {
  border-bottom-left-radius: 30px;
}

#btn-div {
  border-bottom-right-radius: 30px;
}
